*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --clr-accent: hsl(220, 57%, 56%);

  /* font */
  --ff-primary:"Poppins", sans-serif;
}

body {
  /* colors light */
  --clr-body-bg: hsl(236, 33%, 92%);
  --clr-item-bg: hsl(0, 0%, 98%);
  --clr-text: hsl(235, 19%, 35%);
  --clr-status: hsl(236, 9%, 61%);
  --clr-divider: hsl(234, 39%, 85%);
}

body.dark {
  /* colors dark */
  --clr-body-bg: hsl(235, 21%, 11%);
  --clr-item-bg: hsl(235, 24%, 19%);
  --clr-text: hsl(236, 33%, 92%);
  --clr-status: hsl(234, 11%, 52%);
  --clr-divider: hsl(237, 14%, 26%);
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-body-bg);
  color: var(--clr-text);
}

input, button{
  font-family: inherit;
}

[role="button"] {
  cursor: pointer;
}

header{
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin-inline: auto;
}