.wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 41px -11px var(--clr-body-bg);
  background-color: var(--clr-item-bg);
}

.dragHandle {
  width: 10px;
  background-color: var(--clr-accent);
  cursor: grab;
}

.closeIcon{
  opacity: .5;
  transition: all 100ms linear;
}

.closeIcon:hover{
  opacity: 1;
}

.closeIcon:active{
  transform: scale(0.9);
}

.contentWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem;
  row-gap: 2rem;
}

.topContent {
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: 1rem;
}

.contentDiv {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  flex: 1;
}

.contentDiv :last-child{
  color: var(--clr-status);
}

.contentDiv:last-of-type {
  align-items: end;
}

.zoneName,
.zoneTime {
  color: inherit;
  font-family: inherit;
  font-size: clamp(1.2rem, 3.5vw, 1.5rem);
  font-weight: 500;
  letter-spacing: -0.02rem;
}
.zoneTime {
  width: 100%;
  min-width: 0;
  max-width: 110px;
  text-align: right;
  border: none;
  background-color: inherit;
}

.slider {
  width: 100%;
  accent-color: var(--clr-accent);
}

.dataList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.dataList > option {
  width: 1px;
  height: 10px;
  display: flex;
  justify-content: center;
}